:root {

    // Logo
    --color-green-logo: #00B01D;
    --color-red-logo: #BE0000;
    --color-white-logo: #ffff;

    // NAV BOX ICONS
    --color-bgboxicons: #3B4559;
    --color-links-nav: #ffff;

    // Main color
    --bg-color-main: #ECF4FE;

    // Gradiente color line title

}


* {
    box-sizing: border-box;
    font-family: "Lato", Verdana, sans-serif;
}


.background {
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.nav {
    header {
        display: flex;
        justify-content: center;
    }

    .container-logo {

        width: 180px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .link-logo {
            text-decoration: none;

            .logo {

                // REVISAR OPACIDADE
                color: var(--color-white-logo);
                font-size: 26px;
                font-weight: 400;

                .letter-gt {
                    color: var(--color-green-logo);
                }

                .letter-i {
                    color: var(--color-red-logo);
                }
            }
        }

        .logo:hover {
            cursor: pointer;
        }

    }

    .main-menu {
        margin-top: 3rem;
        width: auto;

        .list {

            width: fit-content;
            margin: 0 1.3rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .list-item {
                display: flex;
                align-items: center;
                color: var(--color-white-logo);
                transition: background-color 0.7s ease;
                
            }

            .legend {
                width: max-content;
                align-items: center;
                color: var(--color-white-logo);
                text-decoration: none;
            }

            .list-item:hover {
                background-color: #7a7878;
                border-radius: 5px;
                cursor: pointer;

            }

            .legend .title {
                width: fit-content;
                text-transform: uppercase;
                font-weight: 400;
            }

            .box {

                background-color: var(--color-bgboxicons);
                height: 38px;
                width: 38px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 12px;

                .material-symbols-outlined {
                    color: var(--color-white-logo);
                    font-size: 22px;
                }

            }

        }

    }

    .credits {
        position: absolute;
        bottom: 0;

        .title-credits {
            font-size: 14px;
            margin: 10px 5px;
            color: white;
            opacity: 0.9;
        }

    }

}

.container-main {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-main);
    border-radius: 25px 0 0 25px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    .container-contents {
        width: 60%;
        height: 600px;



    }

}